:root {
    --primary: #f0ceb7;
    --white: white;
    --fontSize: 16px;
    --accents: #222;
    --red: #d11411;
    --green: #14696e;
    --transition: .3s ease-in-out;
    --lightGray: #e4e4e44b;
    --brown: #834a15;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'arrus_blk_btblack';
    text-transform: uppercase;
}
img{
    display: block;
}
p{
    font-size: 1.2rem;
}

/* Navbar */
.navbar{
    background-color: var(--primary);
}
.navbar-nav .nav-item .nav-link{
    color: var(--accents);
}
.nav-item{
    margin-right: 50px;
}
.nav-item .nav-link{
    font-size: 1.2rem;
}
.nav-item a:hover{
    color: var(--green) !important;
}


/* Hero section */
.hero{
    padding: 50px 0;
    background-color: var(--lightGray);
}
.hero h1{ 
    font-size: 3rem;
    font-weight: 700;
    color: rgb(131, 74, 21);
}
.hero .card{
    flex: 0 0 48%;
}
.hero h1::after{
    content: "";
    margin: 15px auto;
    display: block;
    height: 3px;
    width: 10%;
    background: var(--brown);
}
.hero .row{
    justify-content: space-around;
    text-align: center;

}
.icons{
    color: var(--green);
    font-size: 2.5rem;
}

.card .card-body{
    padding: 20px 30px;
    border: 1px solid var(--primary);
}

.dugme{
   background: var(--green);
   display: block;
   width: 25%;
   color: var(--white);
   text-transform: uppercase;
   text-decoration: none;
   padding: 10px 35px;
   border-radius: 15px;
   transition: var(--transition);
}
.dugme:hover{
    color: #222;
    transition: var(--transition);
    background-color: var(--primary);
}

/* Galerija */
.galerija{
    background: linear-gradient(180deg, rgba(240,206,183,1) 0%, rgba(240,206,183,1) 39%, rgba(240,180,142,1) 100%); 
    padding: 50px 0;
}
.galerija h3{
    font-size: 2.5rem;
    color: var(--accents);
    font-weight: 500;
    padding-bottom: 30px;
}

.galerija .owl-carousel{
    width: 70%;
    margin: auto;
}
.galerija .item{
    width: 85%;
    border: 2px solid var(--white);
    border-radius: 5px;
}

.owl-prev {
    width: 15px;
    height: 20px;
    position: absolute;
    top: 40%;
    left: -80px;
    display: block !important;
    border:0px solid black;
}

.owl-next {
    width: 15px;
    height: 20px;
    position: absolute;
    top: 40%;
    right: -30px;
    display: block !important;
    border:0px solid black;
}
.owl-nav .owl-next span{
    color: white;
    font-size: 3rem;
}
.owl-nav .owl-prev span{
    color: white;
    font-size: 3rem;
}
.owl-prev i, .owl-next i {transform : scale(1,6); color: #ccc;}

.owl-theme .owl-nav [class*="owl-"]:hover {
    background: none;
}


/* info sekcija */
.info{
    background-color: var(--lightGray);
}
.info h4{
    font-size: 2.5rem;
    font-weight: 600;
}
.info h4::after{
    content: "";
    margin: 10px auto;
    display: block;
    height: 2px;
    width: 15%;
    background: black;
}

/* footer */

footer{
    padding: 50px 0;
    background: #323232;
    color: var(--white);
}

footer .kontakt h3{
    font-size: 2rem;
    margin-bottom: 30px;
}
footer .kontakt ul li {
    margin-bottom: 10px;
}
footer .kontakt .socials a{
    color: var(--white);
    font-size: 2rem;
    margin-right: 15px;
    transition: var(--transition);
}
footer .kontakt .socials a:hover{
    color: var(--green);
    transition: var(--transition);
}
footer .lokacija h3{
    margin-bottom: 30px;
}



/* sobe page */
.header-sobe{
    height: 60vh;
    background-image: url(img/headerSobe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.welcome{
    padding-top: 200px;
}
.welcome h2{
    font-size: 3rem;
    font-weight: 600;
    color: var(--accents);
}

/* Ponuda soba */
.sobe{
    background-color: var(--lightGray);
    padding: 50px 0;
}

.sobe h3{
    font-size: 2.5rem;
    font-weight: 500;
}
.sobe .card{
    margin-bottom: 50px;
}
.sobe .card h5{
    font-size: 1.8rem;
    font-weight: 600;
}

/* kontakt page */

.header-kontakt{
    height: 60vh;
    background-image:linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.4) 0%), url(img/kontaktHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.inform a i{
    font-size: 2.5rem;
    margin-right: 15px;
    color: var(--green);
    transition: var(--transition);
}
.inform a i:hover{
    color: #323232;
    transition: var(--transition);
}

/* RESPONSIVE */

@media(max-width: 768px) {
    .hero h1{
        font-size: 2rem;
    }
    .hero .card{
        flex: 0 0 70%;
        margin-bottom: 20px;
    }
    .hero .card-body{
        padding: 10px 15px;
    }
    .hero .card-body h4{
        font-size: 1.2rem;
    }
    .hero .card-body p{
        font-size: 0.8rem;
    }
    .hero .card-body .icons{
        font-size: 1.1rem;
    }
    .galerija h3{
        font-size: 2rem;
        padding-bottom: 20px;
    }
    .galerija .owl-carousel{
        width: 60%;
        margin: auto;
    }
    .galerija .active{
        margin-right: 0;
    }
    /* .galerija .owl-next {
        display: none !important;
    }
    .galerija  .owl-prev{
        display: none !important;
    } */
    .info h4{
        font-size: 2rem;
    }
    .info p{
        font-size: 0.8rem;
    }
    footer{
        padding: 30px 0;
    
    }
    footer .kontakt{
        margin-bottom: 30px;
    }
    footer h3{
        font-size: 2rem;
    }
    footer .col-md-6{
        width: 100%;
    }
    .header-sobe .welcome{
        padding-top: 100px;
    }
    .header-sobe{
        height: 40vh;
    }
    .header-sobe .welcome .col-md-6{
        padding-right: 150px;
    }
    .header-sobe h2{
        font-size: 2rem;
    }
    .header-sobe p{
        font-size: 0.8rem;
        font-weight: 600;
    }
    .sobe h3{
        font-size: 1.2rem;
    }
    .sobe p{
        font-size: 0.8rem;
        margin-bottom: 20px !important;
    }
    .sobe .container{
        width: 70%;
        margin: auto;
    }
    .sobe .card-body h5{
        font-size: 1.2rem !important;
        font-weight: normal;
    }
}